/* ---------------------------------------
              App
--------------------------------------- */
.background {
  background: rgba(5,197,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,197,255,1)), color-stop(33%, rgba(86,139,255,1)), color-stop(90%, rgba(226,38,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -o-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -ms-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: linear-gradient(135deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c5ff', endColorstr='#e226ff', GradientType=1 );
}

.background.overlay {
  position: absolute;
  opacity: .75;
  width: 100%;
  height: 100vh;
}

main, header {
  position: relative;
  padding: 40px;
}

.app-name {
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

header {
  height: 20vh;
  display: flex;
}

.reverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.app-name {
  font-size: 14px;
}

main {
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.twitter-form {
  padding: 20px;
  color: gray;
  width: 340px;
  height: 100px;
  background: white;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  width: 80%;
  color: black;
  background: none;
  font-size: 1.25em;
}

.twitter-form-submit {
  position: absolute;
  top: 340px;
  color: white;
  font-size: 2em;
  border: none;
  height: 50px;
  width: 50px;
  background: #0FACF3;
}

.App {
  text-align: center;
}

/* ---------------------------------------
              City
--------------------------------------- */
.secondary-header.background.overlay {
  height: 15vh;
}

.header-nav {
  height: 15vh;
}

header.header-nav {
  height: 8vh;
  padding-bottom: 0;
}

main.main-city {
  padding: 7px 0 0 0;
}

.main-city {
  align-items: flex-start;
  height: 150px;
}

.city-name-div img {
  width: 100%;
  height: 250px;
}

.city-stats {
  height: 80%;
}
